body {
  height: 100%;
  text-align: center;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  transition: 0.1s ease-in-out;
  z-index: 1001;
}

.nav-scroll-up {
  top: -32px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  padding: 8px 32px;
}

.header {
  background: url('../img/shop.jpg') no-repeat center center;
  color: #fff;
  height: 640px;
  padding-top: 200px;
  margin-top: 80px;
}

.hero {
  display: inline-block;
  border: 1px solid #fff;
  padding: 24px 80px;
}

.hero h1,
.hero h4 {
  margin: 0;
}

.hero hr {
  width: 30%;
}

#menu {
  padding: 48px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-list {
  border: 3px solid #000;
  padding: 24px 80px;
  display: inline-block;
  background: url('../img/symphony.png');
}

#about {
  padding: 48px 0;
}

.coffee-cup img {
  border-radius: 50%;
  padding: 40px;
  margin-top: 48px;
  background: url('../img/paisley.png');
}

.about-text {
  font-size: 1.4em;
}

.about-text h2 {
  text-decoration: underline;
}

.icons {
  margin: 48px 0;
  padding: 32px 0;
  background: rgba(222, 222, 222, 0.2);
}

.icons span {
  padding-bottom: 16px;
  font-size: 4em;
  opacity: .7;
}

.heart {
  color: #c74d4d;
}

.tree {
  color: #379612;
}

.pig {
  color: #d69aa0;
}

#contact {
  margin: 48px 0;
}

#contact h2 {
  text-decoration: underline;
}

#contact figure {
  padding: 32px 0 8px 0;
}

#contact figure span {
  font-size: 4em;
}

#gmap_canvas img{
  max-width:100% !important;
  background:none!important
}

.social-icons {
  padding: 40px 0;
}

.social-icons span {
  display: block;
  font-size: 2em;
  padding: 16px 0;
}
