body {
  height: 100%;
  text-align: center;
}

img {
  max-width: 100%;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  transition: 0.1s ease-in-out;
  z-index: 1001;
}

.mobile-collapse {
  display: none;
}

.nav-scroll-up {
  top: -32px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 8px 32px;
}

.main-nav a {
  color: rgba(0, 0, 0, 0.4);
}

.main-nav a:hover {
  color: #000;
  text-decoration: none;
}

.selected {
  border-bottom: 2px solid #000;
  color: #000;
}

.selected a {
  color: #000;
}

#header {
  background: url('../img/shop.jpg') no-repeat center center;
  color: #fff;
  height: 640px;
  padding-top: 200px;
  margin-top: 80px;
}

.hero {
  display: inline-block;
  border: 1px solid #fff;
  padding: 24px 80px;
}

.hero h1,
.hero h4 {
  margin: 0;
}

.hero hr {
  width: 30%;
}

#menu {
  padding: 48px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-list {
  border: 3px solid #000;
  padding: 24px 80px;
  display: inline-block;
  background: url('../img/symphony.png');
}

#about {
  padding: 48px 0;
}

.coffee-cup img {
  border-radius: 50%;
  padding: 40px;
  margin-top: 48px;
  background: url('../img/paisley.png');
}

.about-text {
  font-size: 1.4em;
}

.about-text h2 {
  text-decoration: underline;
}

.icons {
  margin: 48px 0;
  padding: 32px 0;
  background: rgba(222, 222, 222, 0.2);
}

.icons span {
  padding-bottom: 16px;
  font-size: 4em;
  opacity: .7;
}

.heart {
  color: #c74d4d;
}

.tree {
  color: #379612;
}

.pig {
  color: #d69aa0;
}

#contact {
  margin: 120px 0;
}

.contact-content {
  background: url('../img/stardust.png');
  padding: 48px 0;
  color: #fff;
  opacity: .8;
}

#contact h2 {
  text-decoration: underline;
  opacity: 1;
}

#contact figure {
  padding: 32px 0 8px 0;
}

#contact figure span {
  font-size: 4em;
}

#gmap_canvas img{
  max-width:100% !important;
  background:none!important
}

.social-icons {
  padding: 40px 0;
}

.social-icons span {
  display: block;
  font-size: 2em;
  padding: 16px 0;
}

.footer {
  background: rgba(222, 222, 222, 0.4);
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 32px;
}

.footer p {
  margin: 0;
}

@media (max-width: 820px) {
  #about figcaption {
    margin: 24px 0;
  }
  #contact figcaption:last-of-type {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .mobile-collapse {
    display: block;
    position: fixed;
    top: 8px;
    right: 4px;
  }
  .mobile-collapse span {
    font-size: 1.4em;
  }
  .main-nav ul {
    padding: 0;
    display: none;
  }
  .main-nav li {
    display: block;
    margin: 32px 16px;
  }
  #header {
    margin-top: -32px;
    background: url('../img/mobile_shop.jpg') no-repeat center center;
  }
}
